/* Universal CSS  */

* {
  font-family: monospace;
}

/* Header part CSS  */

.headerDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 15px;
  background-color: chocolate;
  margin-bottom: 20px;
}

.headerDiv a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-right: 13px;
}

/* Banner Part CSS  */
.bannerDiv {
  background-image: url("./figures/banner.jpeg");
  height: 400px;
  position: relative;
}

.bannerContent {
  position: absolute;
  top: 38px;
  text-align: center;
  width: 100%;
}

/* Cards Part CSS  */

.imgMainDiv {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.imgDiv {
  border: 1px solid black;
  width: 200px;
  border-radius: 30px;
  margin-right: 20px;
}
.imgDiv img {
  width: 100%;
  border-radius: 30px 30px 0 0;
}

.imgDiv h3 {
  text-align: center;
}

.imgDiv p {
  padding: 0 20px;
}

/* Form Part CSS  */

.main-form {
  background-color: thistle;
  padding: 20px;
  margin: 10px 350px;
  border-radius: 10px;
}

.formElement {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid red;
}
.formElement:focus {
  background-color: lightblue;
}

.formSubmit {
  width: 100%;
  padding: 10px;
  background-color: violet;
  border: none;
  border-radius: 15px;
  color: white;
  margin-top: 5px;
}

/* Footer Part CSS */

.footerDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightcoral;
  height: 60px;
  color: white;
  margin-top: 20px;
}
/* RESPONSIVE WEB DESIGN CSS */
@media only screen and (max-width: 600px) {
  .imgMainDiv {
    flex-direction: column;
  }
  .imgDiv {
    width: 100%;
    margin-bottom: 30px;
  }
  .main-form {
    margin: 0;
  }
}
